.pageRoot {
  background: var(--background);
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--layout-container-max);
  min-height: 100%;
  padding: var(--space-element-lg) var(--space-element-lg) var(--space-element-5xl);
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  padding: var(--space-element-2xl) 0 var(--space-element-5xl);
}

@media (min-width: 768px) {
  .container {
    padding-left: var(--space-element-xl);
    padding-right: var(--space-element-xl);
  }
}
