.sm {
  color: var(--foreground);
  font-size: 1rem;
  font-weight: 600;
}

.md {
  color: var(--foreground);
  font-size: 1.125rem;
  font-weight: 600;
}

.lg {
  color: var(--foreground);
  font-size: 1.25rem;
  font-weight: 600;
}
