.sm {
  color: var(--foreground);
  font-size: var(--text-size-title-sm);
  font-weight: var(--text-weight-semibold);
}

.md {
  color: var(--foreground);
  font-size: var(--text-size-title-md);
  font-weight: var(--text-weight-semibold);
}

.lg {
  color: var(--foreground);
  font-size: var(--text-size-title-lg);
  font-weight: var(--text-weight-semibold);
}
